<<<<<<< HEAD
<h2 class='User_Header'> <%=@current_user.username%> Profile <h2>
=======

<h1>Sessions#profile,</h1>
<h2> class=<'User_Header'> <%=@current_user.username%> Profile <h2>
>>>>>>> 74c1274bb4dcdbda7c2d5a41d973a3cdcba5676e

